.login-container {
    height: 70vh;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-up-container {
    display: flex;
    align-content: center;
}

.enrollment-container {       
    display: flex;
    align-content: center;
    align-self: center;
}

.logo {
    color: white;
    padding: 30px;
    margin: 10px 0;
    font-family: 'Russo One', sans-serif;
    font-size: 2.5rem;
}