.sign-in-container {
    width: 100%;    
    position: relative;  
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: none;
}

.sign-form-box {    
    max-width: 510px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sign-subtitle {
    color: gray;
    margin-bottom: 20px;    
}

.sign-in-form{    
    display: flex;
    flex-direction: column;    
    align-items: center;    
}

.input-container {
    width: 70%;
    position: relative;
    margin: 2%;
}

.sign-in-input {       
    margin: 10px 0;
    background-color: transparent;
    height: 1.4rem;
    padding-top: 0px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 1rem;
    border: none;
    border-bottom: 1.5px solid rgb(80, 80, 80);    
    outline: none;
    color: white;
}

.input-label {
    width: 100%;
    pointer-events: none;
    position: absolute;    
    top: 10%;
    left: 0%;
    color: grey;
    transition: 300ms ease all;
}

.sign-in-btn {
    width: 80%;
    align-self: center;
    margin-top: 15px;
    height: 2.5rem;
    background-color: lightgray;
    border: none;
    border-radius: 7px;
    font-size: 1.1rem;
    font-weight: bold;
    outline: none;
}
.sign-in-btn:hover {
    cursor: pointer;
    background-color: white;
    transform: scale(1.03);
}
.sign-in-btn:active {
    transform: scale(1);
}

#google-sign-in-btn {
    align-self: center;
    max-width: 200px;
    margin-top: 15px;
    margin-bottom: 5px;
    object-fit: cover;
}
#google-sign-in-btn:hover {
    transform: scale(1.03);
    cursor: pointer;
}
#google-sign-in-btn:active {
    transform: scale(1.0);    
}

.sub-btn-text {
    align-self: center;
    width: fit-content;
    font-size: 0.85rem;
    color: gray;
}
.sign-up-link {
    align-self: center;
    width: fit-content;
    font-size: 0.85rem;
    color: white;
}