.sign-in-form-box {    
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    width: 300px;        
}

.sign-in-input {
    margin: 10px 0;
    background-color: transparent;
    height: 2.5rem;
    text-align: center;    
    font-size: 1.1rem;
    border: none;
    border-bottom: 1.5px solid rgb(80, 80, 80);    
    outline: none;
    color: white;
}

.sign-in-btn {
    margin-top: 30px;
    height: 2.5rem;
    background-color: lightgray;
    border: none;
    border-radius: 7px;
    font-size: 1.1rem;
    font-weight: bold;
    outline: none;
}
.sign-in-btn:hover {
    cursor: pointer;
    background-color: white;
    transform: scale(1.03);
}
.sign-in-btn:active {
    transform: scale(1);
}

#google-sign-in-btn {
    align-self: center;
    max-width: 200px;
    margin-top: 15px;
    margin-bottom: 5px;
    object-fit: cover;
}
#google-sign-in-btn:hover {
    transform: scale(1.03);
    cursor: pointer;
}
#google-sign-in-btn:active {
    transform: scale(1.0);    
}

.sub-btn-text {
    align-self: center;
    width: fit-content;
    font-size: 0.85rem;
    color: gray;
}
.sign-up-link {
    align-self: center;
    width: fit-content;
    font-size: 0.85rem;
    color: white;
}