.video-box {
    margin: 0;
    padding: 0px;    
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;   
}
h1 {
    color: lightgray;
    margin-bottom: 10px;
}

.input-box {    
    width: 90%;
    min-height: 45px;
    display: flex;    
    position: relative;   
    justify-content: center;   
    align-items: center;
}

.animated-input {    
    width: 100%;
    max-width: 500px;
    background-color: transparent;        
    text-align: center;
    font-size: 0.9rem;
    border: none;
    border-bottom: 1.5px solid rgb(80, 80, 80);    
    outline: none;
    color: white;
}

.animated-label {
    width: 100%;    
    pointer-events: none;
    position: absolute;
    top: 5px;
    left: 0%;
    color: grey;
    transition: 300ms ease all;
}

.animated-input::placeholder {
    color: transparent;
}
.animated-input:focus + .animated-label,
.animated-input:not(:placeholder-shown) + .animated-label {
    font-size: 0.65rem;
    top: -5px;
}

.search-button {
    width: fit-content;
    padding: 0px 5px;
    align-self: center;
    margin-top: 7px;
    margin-bottom: 10px;
    margin-left: 5px;
    height: 2.0rem;
    background-color: transparent;    
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
}
.search-button:hover {
    cursor: pointer;
    /* background-color: white; */
    transform: scale(1.25);
}
.search-button:active {
    transform: scale(1);
}

/* .error-message {
    color: red;
    font-size: 0.7rem;
    margin-bottom: 10px;
    padding: 5px 10px;    
    border: 1px solid red;
    border-radius: 5px;
    width: fit-content;
    align-self: center;
}

.success-message {
    color: green;
    font-size: 0.7rem;
    margin-bottom: 10px;
    padding: 5px 10px;    
    border: 1px solid green;
    border-radius: 5px;
    width: fit-content;
    align-self: center;
} */

.video-thumb {grid-area: video-thumb;}
.preview-title {grid-area: preview-title;}
.video-title {grid-area: video-title;}
.save-icon {grid-area: save-icon;}
.credits {grid-area: credits;}

.video-preview {
    max-width: 400px;
    min-height: 60px;
    margin-bottom: 10px;
    padding: 11px;
    box-shadow: 3px 3px 5px black;
    background-color: lightgray;
    border-radius: 10px;
    display: grid;
    /* grid-template-columns: 3fr 5fr 1fr;     */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;    
    grid-template-areas: 
    'video-thumb video-thumb video-thumb preview-title preview-title preview-title preview-title save-icon save-icon'
    'video-thumb video-thumb video-thumb video-title video-title video-title video-title video-title credits'
    ;
    align-items: center;
}

.video-preview .credits {
    color: firebrick;
    border: none;
}

.preview-title {
    display: flex;
    margin-left: 15px;    
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
}

.video-title {
    /* width: 100%;    
    font-size: 0.85rem;
    padding: 0px 5px; */     
    min-height: 35px;
    width: auto;  
    margin-bottom: 3px;  
    margin-left: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: left;
    padding: 0 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;   
}

.video-thumb {
    width: 100%;
    border-radius: 10px;
    border: 1.5px solid transparent;
    box-shadow: 2px 2px 3px black;
    margin-bottom: 2px;
}
.video-thumb:hover{    
    cursor: pointer;
    border: 1.5px solid gray;
}
.video-thumb:active{
    transform: scale(0.95);
    cursor: pointer;
}

.save-icon {
    width: fit-content;
    height: fit-content;        
    font-size: 1.5rem;
    /* border: 1px solid gray;
    border-radius: 5px; */
    justify-self: flex-end;
    color: gray;
}
.save-icon:hover {
    cursor: pointer;
    /* background-color: white; */    
    color: green;
}
.save-icon:active {
    transform: scale(0.95);
    color: green;
}

.video-card-box {
    margin-top: 5px;
    width: 95%;    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}