.header {
    width: 100%;
    color: white;
    padding: 0px;    
}

.main-menu {
  background-color: rgb(45, 45, 45);
  position: relative;  
  min-height: 5vh;
  padding: 14px 0px;
  border-radius: 0px;
  margin-bottom: 15px;
  filter: drop-shadow(0 0 6px #000);
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
}

.sign-in-menu{
  position: absolute;
  justify-self: right;
  margin-right: 30px;  
  border: 1px solid rgb(45, 45, 45); 
  border-radius: 7px;
}
.sign-in-menu:hover {
  border: 1px solid gray;
  cursor: pointer;
}
.sign-inmenu:active {
  transform: scale(0.95);
}

.sign-in-link {  
  width: 100%;
  padding: 10px;
  text-decoration: none;
  color: white;  
}

.menu-box {
  color: white;
  text-decoration: none;
  border: 1px solid rgb(45, 45, 45); 
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0px 10px;
  
}

.menu-box:hover {
  border: 1px solid gray;
  cursor: pointer;

}

.menu-box:active {
  transform: scale(0.95);
}

.icon-box{
  font-size: x-large;
}

.menu-item {
  padding: 0px 10px;
}